body{
	/* margin: 0em 2em; */
	font-size: 1em;
  box-sizing: border-box;
	resize: vertical;
}

.part_one, .part_two, .part_three, .part_four{
	padding-bottom: 5em;
}

.part_one{
	opacity: 1;
	background-image: url("images/ash-edmonds-510566-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:48em;
}

.part_two{
	background: linear-gradient(-45deg, #ffff, #f06292, #ffff, #f06292, #fce4ec);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.part_three{
	background: linear-gradient(-45deg, #ffff, #1a237e, #ffff, #9fa8da, #e8eaf6);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.part_four{
	background: linear-gradient(-45deg, #ffff, #f44336,#ffff, #d32f2f, #ef5350);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

.moi{
	padding-top: 4em;
	line-height: 6em;
	text-align: center;
	color: #ffff;
}

h1{
	font-family: 'Marcellus SC', serif;
	font-size: 5em;
}

h2{
	font-family: 'Merienda One', cursive;
	font-size: 2em;
}

.presentation{
	line-height: 2em;
	font-size: 1.5em;
	width: 70%;
	padding-left: 15%;
}

.title, .title2, .title3{
	font-family: 'Marcellus SC', serif;
	font-size: 2.5em;
	opacity: 0;
	margin-bottom: 1.5em;
	text-align: center;
	font-weight: bolder;
	padding-top: 2em;

}

.paragraphe1, .paragraphe2, .paragraphe3{
	font-family: 'Montserrat', sans-serif;
	opacity: 0;
}

.paragraphe3{
	padding-top: 2em;
}


.icones{
	opacity: 0;
	border-radius: 5% 25%;
	/* width:60%; */
	/* background-color: #1a237e; */
	padding-top: 0.02em;
	margin-top: 1.5em;
}

.list_icones li{
	display: inline-block;
}

.contenuthree,.contenufour{
	width: 70%;
	padding-left: 15%;
	line-height: 2.5em;
}

.tl,.dm{
	max-width:100%;
	height:auto;
}

.site1{
	grid-column-start: 1;
}

.site2{
	grid-column-start: 2;
}

a, a:link{
	border: solid 1px transparent;
}

a:visited{
	border: solid 1px transparent;
}

.site1,.site2{
	opacity: 0;
	font-family: 'Montserrat', sans-serif;
}

h4{
	height: 2em;
}

.formulaire{
	opacity: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	margin-top: 2em;
	float: left;
}

.nom{
	width: 25em;
	margin-left: 2em;
}

.mail{
	width: 25em;
	margin-left: 2em;
	margin-top: 2em;
}

.messagediv{
	margin-top: 2em;
}

.contenumess{
	width: 40em;
	height: 15em;
	margin-top: 1.5em;
}

.reseaux{
	visibility: hidden;
	margin-top: 3em;
	padding-left: 10%;
	padding-right: 5%;
	line-height: 8em;
	float: left;
}

.fab,.fas{
	color: black;
	text-shadow: 0.03em 0.03em 0.03em #1a237e;
}

.liste_reseaux li{
	list-style-type:none;
}

.envoi{
	font-family: 'Marcellus SC',serif;
	font-size: 1em;
	width: 5em;
	height: 2em;
	cursor:pointer;
	margin-top: 2em;
}

.sarah{
	opacity: 0;
	margin-left: 5em;
	padding-top: 3em;
}

a:link{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}






/*CLASSES ANIMATIONS*/
/*CLASSES ANIMATIONS*/
/*CLASSES ANIMATIONS*/

/* part_one */
.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/* titres */
.focus-in-expand {
	-webkit-animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/* paragraphes */

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}




/*ANIMATION BACKGROUND GRADIENT */

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


/*
    font-family: 'Merienda One', cursive;
    font-family: 'Quintessential', cursive;
	  font-family: 'Montserrat', sans-serif;
    font-family: 'Marcellus SC', serif;



*/
